<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>ALBANEZ SYSTEM</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body class="login-page">
<div class="login-container">

    <!-- LOGO embutida em Base64 -->
    <img th:src="@{/images/logo-albanez.png}" alt="Logo Móveis Albanez" class="logo-sidebar">

    <form th:action="@{/auth/login}" method="post">
        <input type="text" name="username" placeholder="Usuário" required>
        <input type="password" name="password" placeholder="Senha" required>

        <div th:if="${error}" class="error" th:text="${error}"></div>

        <button type="submit">Entrar</button>
    </form>
</div>
</body>
</html>
